<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-title *ngIf="!container.isUpdating">Save New Habit</ion-title>
    <ion-title *ngIf="container.isUpdating">Save Edits</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-text class="ion-text-right">{{habit.name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-text class="ion-text-right" *ngIf="habit.description">{{habit.description}}</ion-text>
      <ion-text class="ion-text-right text-muted" *ngIf="!habit.description"><i>No description</i></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Repetitions</ion-label>
      <ion-text class="ion-text-right">{{habit.repetitions}}</ion-text>
    </ion-item>
    <ion-item *ngIf="habit.successDate">
      <ion-label>Success Date</ion-label>
      <ion-text class="ion-text-right">{{habit.successDate | readableDate}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Method</ion-label>
      
      <ion-text class="ion-text-right">
        {{habit.method ==1 ?'Simple Done/Fail' : 'Custom'}}
      </ion-text>
    </ion-item>
    <ion-item-divider>
      <ion-label>Success Condition</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-text *ngIf="habit">{{condition}}</ion-text>
    </ion-item>
  </ion-list>
  <div class="next-button">
    <ion-button (click)="save()" color="success">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

      <ion-text slot="start">Save</ion-text>
    </ion-button>
  </div>
</ion-content>