<div class="full-width-card">
  <app-habit-history-view (daySelected)="onDaySelect($event)" [history]="results" [habit]="habitItem">
  </app-habit-history-view>
  <div class="breakdown-wrapper" *ngIf="breakdown">
    <div class="top small-text right-content">
      <span>{{breakdown.condition}}</span>
    </div>
    <div class="date right-content" *ngIf="breakdown.isRange">
      {{breakdown.$range.startDate | readableDate}} - {{breakdown.$range.endDate | readableDate}}
    </div>
    <div class="date right-content" *ngIf="!breakdown.isRange">
      {{breakdown.$date | readableDate}}
    </div>
    <div class="small-text right-content">
      <b class="text-success">{{breakdown.totalDays}}</b> day for this habit
    </div>
    <div class="total">
      <div>
        <span class="small-text">Total Successful Days</span>
        <span class="date">{{breakdown.totalCompleted}}</span>
      </div>
      <div>
        <span class="small-text">Total Unsuccessful Days</span>
        <span class="date">{{breakdown.totalFailed}}</span>
      </div>
    </div>
    <div class="indicator right-content">
      <div class="habit-indicator success"></div>
      <span class="indicator-value">{{breakdown.current}}</span>
    </div>
    <div class="streak right-content"></div>
    <div class="track right-content">
      <div class="done">
        <ion-text>
          Done
        </ion-text>
        <ion-icon name="checkmark-circle" color="success"></ion-icon>
      </div>
    </div>
  </div>

</div>