@import "../../../../theme/variables.scss";

.breakdown-wrapper {
  display: flex;
  flex-direction: column;
  > div {
    flex-direction: column;
    margin-bottom: 4px;
  }
  .date {
    font-size: $font-size-large;
  }
  .total {
    flex-direction: row !important;
    justify-content: end;
    text-align: right;
    > div {
      text-align: right;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 1.6rem;
    }
  }
  .top {
    display: flex;
  }
  .small-text {
    font-size: $font-size-normal;
    color: $font-light;
  }
  .right-content {
    justify-content: right;
    text-align: right;
  }
  .indicator {
    display: flex;
    flex-direction: row !important;
    .habit-indicator {
      display: inline-block;
      margin: 16px 0 16px auto;
      border-radius: 50%;
      width: 2.4rem;
      height: 2.4rem;

      &.success {
        background: $color-success;
      }
    }
    .indicator-value {
      display: flex;
      justify-content: flex-end;
      height: 2.4rem;
      margin: 16px 0 16px 0;
      line-height: 0;
      font-weight: 600;
      color: $color-success !important;
      line-height: normal;
      margin-left: 8px;
    }
  }
  .track {
    .done {
      text-transform: uppercase;
      color: $color-success;
      font-weight: 600;
      ion-icon {
        font-size: 2.4rem;
        vertical-align: middle;
        position: relative;
        top: -2px;
        color: $color-success !important;
      }
    }
  }
}
