@import "../../../theme/variables.scss";
.rich-card {
  .goal-items {
    display: flex;
    padding: 8px 0;
    .goal-item {
      width: 96px;
      .small-icon {
        margin-right: 4px;
        font-size: 2rem;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
      font-size: 1.4rem;
      color: $font-muted;
    }
  }
  background: white;
  padding: 1.6rem;
  margin: 1.2rem 0.8rem;
  border-radius: 9px;
  box-shadow: $shadow-smooth;
  .rich-card-title {
    font-size: $font-size-normal;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: $font-dark;
  }
}
.text-muted {
  font-size: 1.2rem;
  color: $font-muted;
}
.label-badge {
  font-size: $font-size-small;
  padding: 2px 8px;
  display: inline-block;
  background: #e1f5e1;
  color: #69cd68;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 4px;
  &.label-primary {
    background: $color-primary-shade-3;
    color: $color-primary;
  }
  &.label-secondary {
    background: $font-muted;
    color: $font-muted;
  }
  &.label-danger {
    background: $color-danger;
    color: $color-danger-shade-2;
  }
  &.label-warning {
    background: $color-warning-shade;
    color: $color-warning;
  }
}
