<div class="rich-card">
  <div class="rich-card-title">
    {{goal.name}}
  </div>
  <div class="rich-card-body">

    <div style="margin-top: 4px;">
      <app-progress [mini]="true" [value]="value"></app-progress>
    </div>
    <div class="goal-items">
      <span class="goal-item" *ngIf="goal.end_date && !expired">
        <ion-text>
          <ion-icon name="calendar-outline" class="small-icon"></ion-icon>
          <label for=""> {{goal.end_date | fromNow}}</label>
        </ion-text>
      </span>
      <span class="goal-item" *ngIf="goalStats">
        <ion-text>
          <ion-icon name="time-outline" class="small-icon"></ion-icon>
          <label for="">
            {{goalStats.estimatedTimeSpent | decimalFormat}}/{{goalStats.totalTime | decimalFormat}}</label>
        </ion-text>
      </span>
      <span class="goal-item" *ngIf="goal.priority">
        <ion-text>
          <ion-icon name="speedometer-outline" class="small-icon"></ion-icon>
          <label *ngIf="goal.priority ==0" for="">Low</label>
          <label *ngIf="goal.priority ==1" for="">Medium</label>
          <label *ngIf="goal.priority ==2" for="">High</label>
        </ion-text>
      </span>
      <span class="goal-item" *ngIf="goalStats">
        <ion-text>

          <ion-icon name="checkmark-done-sharp" class="small-icon"></ion-icon>
          <label for="">{{goalStats.completedTasks}}/{{goalStats.totalTasks}}</label>
        </ion-text>
      </span>
    </div>
  
  </div>
</div>