@import "../../../theme/variables.scss";

.settings-item-wrapper {
  display: block;
  height: 42px;
  background: white;
  padding: 12px;
  border-bottom: $border;
  .settings-item {
    .item-title {
      display: inline;
      font-size: $font-size-small;
      font-weight: 500;
      color: $font-dark;
    }
    .item-action {
      float: right;
      font-size: $font-size-small;
    }
  }
}
