<ion-header>
  <ion-toolbar>
    <ion-title>Start Working</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullscreen-display">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-content>
<ion-footer>

</ion-footer>