<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!container.isUpdating">Create New Habit</ion-title>
        <ion-title *ngIf="container.isUpdating">Edit Habit</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="ion-no-padding">
        <ion-item-group>
            <ion-item-divider>
                <ion-label>
                    Habit
                </ion-label>
                <ion-icon slot="end" class="ion-padding-end" name="repeat-outline"></ion-icon>
            </ion-item-divider>
            <ion-item [ngClass]="{'item-has-error': !$valid.name}">
                <ion-label position="floating">Name this Habit</ion-label>
                <ion-input (ionFocus)="$valid.name=true" aria-required="true" [(ngModel)]="habit.name" required
                    spellcheck="true" aria-placeholder="Name of new habit" placeholder="Name of new habit"></ion-input>
                <ion-icon slot="end" name="alert-circle-outline" *ngIf="!$valid.name" color="danger"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Description (Optional)</ion-label>
                <ion-textarea [(ngModel)]="habit.description" placeholder="Enter habit description"></ion-textarea>
            </ion-item>

        </ion-item-group>

    </ion-list>
    <div class="next-button">
        <ion-button (click)="preview()">
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

            <ion-text slot="start">Next</ion-text>
        </ion-button>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="ion-padding-horizontal ion-padding-bottom">
        <h4> <b>Tip <ion-icon name="bulb-outline" color="primary"></ion-icon></b></h4>
        <ion-text> You can make edits by going back in this wizard or editing
            this habit after saving</ion-text>
    </ion-toolbar>
</ion-footer>