<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Habit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">


  <div class="tracking-help">
    <ion-text>How would you like to track this habit?</ion-text>
  </div>
  <div class="tracking-options">
    <ion-radio-group [(ngModel)]="habit.method" name="method">
      <ion-list mode="ios">
        <div class="tracking-item">
          <ion-item>
            <ion-radio value="1"></ion-radio>
            <ion-text> Simple Done & Fail method</ion-text>
          </ion-item>
        </div>
        <div class="tracking-item">
          <ion-item>
            <ion-radio value="2"></ion-radio>
            <ion-text> Specific number</ion-text>
          </ion-item>
        </div>
      </ion-list>
    </ion-radio-group>
    <div class="next-button">
      <ion-button (click)="positiveTypical()">
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

        <ion-text slot="start">Next</ion-text>
      </ion-button>
    </div>
  </div>
</ion-content>