@import "../../../../theme/variables.scss";
div.next-button {
  text-align: right;
}
.tracking-help {
  color: $font-muted;
  size: $font-size-normal;
  font-weight: 500;
  padding: 1.6rem 1.6rem 0 1.6rem;
  letter-spacing: -0.04em;
}
.tracking-options {
  ion-item {
    font-size: $font-size-normal;
    --border-width: 0px;
    --border-color: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
    &.item-radio-checked {
      --background: #f3f4f9;
    }
  }

  border-radius: 5px;
  margin: 1.6rem 0;
  width: 100%;
  /*  padding: 1.6rem; */

  ion-item {
    ion-text {
      display: inline;
    }
  }

  padding: 0 1.6rem 1.6rem 1.6rem;
  display: block;
  .tracking-item {
    /*  padding: 1.6rem; */
    margin: 1.6rem 0;
    border: $border;
    border-radius: 5px;
    font-size: $font-size-normal;
  }
}
