<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Edit Goal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="goal">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Basic Info
        </ion-label>
      </ion-item-divider>
      <ion-item lines="full" [ngClass]="{'item-has-error': !$goal.name}">
        <ion-label position="floating">Goal</ion-label>
        <ion-input [(ngModel)]="goal.name" placeholder="Goal Name...."></ion-input>
        <ion-icon name="alert-circle-outline" slot="end" color="danger" *ngIf="!$goal.name"></ion-icon>
      </ion-item>
      <ion-item lines="full" [ngClass]="{'item-has-error': !$goal.end_date}">
        <ion-label position="floating">Due Date</ion-label>
        <ion-datetime [(ngModel)]="goal.end_date"></ion-datetime>

      </ion-item>


    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Priority
        </ion-label>
      </ion-item-divider>


    </ion-item-group>
    <ion-item lines="full">
      <ion-segment color="secondary" [value]="goal.priority">
        <ion-segment-button value="0" (click)="goal.priority = 0">
          <ion-label>Low</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1" (click)="goal.priority = 1">
          <ion-label>Normal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" (click)="goal.priority = 2">
          <ion-label>High</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button color="success" slot="end" (click)="save()" [disabled]="saving">
      <ion-text>
        Save Edits
      </ion-text>
      <ion-icon name="arrow-forward-outline" class="ion-margin-left"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>