<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Habit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div class="category-help">
    <ion-text>I would like to</ion-text>
  </div>
  <div class="habit-categories">
    <ion-radio-group [(ngModel)]="category" name="category">
      <ion-list mode="ios">

        <div class="habit-category">
          <ion-item>
            <ion-radio value="1"></ion-radio>
            <ion-label> Quit a habit</ion-label>
          </ion-item>
        </div>

        <div class="habit-category">
          <ion-item>
            <ion-radio value="2"></ion-radio>
            <ion-text>Learn new habit</ion-text>
          </ion-item>
        </div>
      </ion-list>
    </ion-radio-group>
    <div class="next-button">
      <ion-button (click)="tracking()">
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

        <ion-text slot="start">Next</ion-text>
      </ion-button>
    </div>
    <div class="habit-explaination">
      <div class="habit-image">
        <img *ngIf="habit.polarity==2" src="../../../../assets/habit symbol.png" />
      </div>
      <div *ngIf="habit.polarity==2">
        <h4>Learning a new habit</h4>
        <p>Wouldn’t it be nice to have everything run on autopilot? Chores, exercise, eating healthy and getting your
          work done just happening automatically. Unless they manage to invent robot servants, all your work isn’t going
          to disappear overnight. But if you program behaviors as new habits you can take out the struggle.</p>
        Some examples of good habits
        <ul>
          <li>Develop reading habits</li>
          <li>Practice good hygiene</li>
          <li>Eat a healthy diet</li>
        </ul>
      </div>
      <div *ngIf="habit.polarity==1">
        <div class="habit-image">
          <img src="../../../../assets/bad habit.png" />
        </div>
        <div>
          <h4>
            <ion-text color="breakingbad">Breaking Bad</ion-text> Habits
          </h4>
          <p>Bad habits interrupt your life and prevent you from accomplishing your goals. They jeopardize your health —
            both mentally and physically. And they waste your time and energy.</p>
          <p>Most of the time, bad habits are simply a way of dealing with <b>stress and boredom</b>. Everything from
            biting
            your nails to overspending on a shopping spree to drinking every weekend to wasting time on the internet can
            be a simple response to stress and boredom.</p>
          <h6>You don't eliminate a bad habit, you replace it.</h6>
        </div>
      </div>
    </div>
  </div>

</ion-content>