<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Create new Task</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" #taskFormContent>

  <!--   <div class="header mini">

    <div class="header-title-normal">
      Create New Task
    </div>
    <div class="text-muted title-mini">
      Fill out the form below to add a new task
    </div>
  </div> -->
  <ion-list>
    <ion-item-divider>
      <ion-label>Task Details</ion-label>

    </ion-item-divider>

    <ion-item lines="full" [ngClass]="{'item-has-error': !$task.name}" (click)="$task.name=true">
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="task.name" placeholder="Task Name..."></ion-input>
      <ion-icon slot="end" name="alert-circle-outline" color="danger" *ngIf="!$task.name"></ion-icon>
    </ion-item>
    <ion-item button="true" lines="full" detail="true">
      <ion-label>List</ion-label>
      <ion-label slot="end" class="ion-text-end">
        <ion-text>
          Select
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-chip color="tertiary">
        <ion-icon name="wine-outline"></ion-icon>
        <ion-text>
          Some List Item

        </ion-text>
      </ion-chip>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Due Date</ion-label>
      </ion-item-divider>

      <ion-item lines="full">
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2018" max="2050" [(ngModel)]="task.due_date">
        </ion-datetime>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Time</ion-label>
        <ion-datetime [(ngModel)]="task.due_date" displayFormat="h:mm a"></ion-datetime>
      </ion-item>

    </ion-item-group>
    <ion-item lines="full">
      <ion-label>Repeat</ion-label>
      <ion-toggle slot="end" [(ngModel)]="task.repeat_type" value="1"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="repeat" lines="full">
      <ion-label>Repeat Every</ion-label>
      <ion-select slot="end" placeholder="Select One" (ngModelChange)="repeatChanged()" [(ngModel)]="task.repeat_every">

        <ion-select-option [value]="1">Day</ion-select-option>
        <ion-select-option [value]="2">Week</ion-select-option>
        <ion-select-option [value]="3">Month</ion-select-option>
        <ion-select-option [value]="4">Every weekday</ion-select-option>
        <ion-select-option [value]="5">Custom</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-divider>
      <ion-label>Status</ion-label>
    </ion-item-divider>
    <ion-item lines="full">

      <ion-segment color="secondary">
        <ion-segment-button value="standard" (click)="task.status=0">
          <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button value="hybrid" (click)="task.status=1">
          <ion-label>Doing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sat" (click)="task.status=2">
          <ion-label>Completed</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item-divider>
      <ion-label>Priority</ion-label>
    </ion-item-divider>
    <ion-item lines="full">

      <ion-segment color="secondary">
        <ion-segment-button value="standard" (click)="task.priority=0">
          <ion-label>Low</ion-label>
        </ion-segment-button>
        <ion-segment-button value="hybrid" (click)="task.priority=1">
          <ion-label>Normal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sat" (click)="task.priority=2">
          <ion-label>High</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item-divider>
      <ion-label>Reminder</ion-label>
    </ion-item-divider>
    <ion-item lines="full">
      <ion-label>Remind Me</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">30 Minutes Before</ion-select-option>
        <ion-select-option value="m">60 Minutes</ion-select-option>
        <ion-select-option value="1">1 Hour</ion-select-option>
        <ion-select-option value="1.5">2 Hours</ion-select-option>
        <ion-select-option value="4">4 Hours</ion-select-option>
        <ion-select-option value="6">6 Hours</ion-select-option>
        <ion-select-option value="8">8 Hours</ion-select-option>
        <ion-select-option value="c">Custom</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-divider lines="full">
      <ion-label>Task Value</ion-label>
    </ion-item-divider>
    <ion-item lines="full">
      <ion-label>Estimated Time</ion-label>
      <ion-select [(ngModel)]="task.estimated_time" placeholder="Select One">
        <ion-select-option value="0.25">15 Minutes</ion-select-option>
        <ion-select-option value="0.5">30 Minutes</ion-select-option>
        <ion-select-option value="1">1 Hour</ion-select-option>
        <ion-select-option value="1.5">1.5 Hours</ion-select-option>
        <ion-select-option value="2">2 Hours</ion-select-option>
        <ion-select-option value="4">4 Hours</ion-select-option>
        <ion-select-option value="6">6 Hours</ion-select-option>
        <ion-select-option value="8">8 Hours</ion-select-option>
        <ion-select-option value="9">Custom</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Milestone Task?
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="task.milestone" value="1"></ion-checkbox>

    </ion-item>
    <ion-item lines="full">
      <ion-label>
        Add to My Day
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="dayCheck" value="true"></ion-checkbox>

    </ion-item>
    <ion-item-divider>
      <ion-label>Task Extras</ion-label>
    </ion-item-divider>
    <ion-item lines="full">
      <ion-textarea [(ngModel)]="task.notes" placeholder="Notes..."></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Attach Files</ion-label>
      <ion-button color="primary" fill="outline">
        Upload
        <ion-icon slot="end" name="attach"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <button class="block-button" (click)="save()">Save</button>
</ion-content>