<ion-header>
  <ion-toolbar>
    <ion-title>Delay Task</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list class="options-list">
    <ion-item button="true">
      <ion-label>Custom</ion-label>

    </ion-item>
    <ion-item button="true" *ngFor="let delay of options" (click)="delayTask(delay)">
      <ion-label>{{delay.text}}</ion-label>
      <ion-label slot="end" class="ion-text-right">
        <ion-icon class="text-muted" size="normal" name="calendar-outline"></ion-icon>
        <ion-text>
          <small class="text-muted">{{delay.date   | readableDate:true}}</small>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>