<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="goal"> {{goal.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab size="large" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  <div class="header" *ngIf="goalStats">
    <div class="header-title-normal">
      Goal Overview
    </div>
    <div class="details-row">

      <div>
        <b>{{goalStats.totalMilestones}}</b> Milestone Achieved
      </div>
      <div>
        <b>{{goalStats.completedTasks}}</b> Tasks Completed
      </div>
    </div>
    <div style="margin-top: 4px;">
      <app-progress [value]="goalStats.completedPercent"></app-progress>
    </div>
    <div style="margin-top:4px;">
      <span class="text-muted">Complete {{goalStats.remainingTasks}} more tasks to acheive this goal</span>
    </div>

  </div>
  <div class="page-controls">
    <ion-button slot="end" size="small" (click)="sortPopover($event)" color="primary">
      <ion-icon name="funnel"></ion-icon>
    </ion-button>
    <ion-button slot="end" size="small" (click)="settingsPopover($event)" color="primary">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </div>
  <div class="walkthrough" *ngIf="ready && goalStats && +goalStats.totalTasks < 1">
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card>

          <ion-card-header>
            <ion-card-subtitle>Whats next?</ion-card-subtitle>
            <ion-card-title>Add Tasks</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            By adding tasks you can start tracking this goal progress, currently this goal has no tasks

          </ion-card-content>
          <ion-grid>
            <ion-row class="card-footer">
              <ion-col>
                <ion-button color="success" fill="outline">
                  <ion-icon name="add" slot="start"></ion-icon>
                  Add task
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>

          <ion-card-header>
            <ion-card-subtitle>Hint</ion-card-subtitle>
            <ion-card-title>Smart Tasks</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Make sure to add appropriate times and dates for your new task for effective goal tracking

          </ion-card-content>
          <ion-grid>
            <ion-row class="card-footer">
              <ion-col>
                <ion-button color="success" fill="outline">
                  <ion-icon name="add" slot="start"></ion-icon>
                  Add task
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>

          <ion-card-header>
            <ion-card-subtitle>Divide and Conquer</ion-card-subtitle>
            <ion-card-title>Breaking it Down</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            You can also break down your tasks to a sub goal for making things more clear and specific

          </ion-card-content>
          <ion-grid>
            <ion-row class="card-footer">
              <ion-col>
                <ion-button color="success" fill="outline">
                  <ion-icon name="add" slot="start"></ion-icon>
                  Add task
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>

  </div>
  <div class="heading-actions" *ngIf="ready && goalStats && +goalStats.remainingTasks > 0">
    <h4 class="subheading">
      Active Tasks
    </h4>

  </div>

  <div class="tasks" *ngIf="ready && goalStats && +goalStats.remainingTasks > 0">
    <div *ngIf="(!tasks || !tasks.length) && ready">
      <h4 class="placeholder">
        <ion-icon size="normal" name="information-circle-outline"></ion-icon> No active tasks.
      </h4>
    </div>
    <div class="task" *ngFor="let task of tasks | taskCompleted:false">
      <app-task-item [task]="task"></app-task-item>
    </div>
  </div>
  <h4 class="subheading" *ngIf="ready && goalStats && +goalStats.completedTasks > 0">Completed Tasks</h4>
  <div class="tasks" *ngIf="ready && goalStats && +goalStats.completedTasks > 0">
    <div class="task" *ngFor="let task of tasks | taskCompleted">
      <app-task-item [task]="task"></app-task-item>
    </div>
  </div>
  <div *ngIf="!ready">
    <ion-list>
      <ion-item *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>