<ion-list class="popover-list">
  <ion-list-header>
    <ion-label>Sort Tasks By</ion-label>
  </ion-list-header>
  <ion-radio-group>
    <ion-item>
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Due Date</ion-label>
      <ion-radio value="duedate"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Priority </ion-label>
      <ion-radio value="priority"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Estimated Time</ion-label>
      <ion-radio value="time"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Sort Order
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name="arrow-up-outline"></ion-icon>
      <ion-label>Ascending</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-icon name="arrow-down-outline"></ion-icon>
      <ion-label>Descending</ion-label>
      <ion-radio value="duesenberg"></ion-radio>
    </ion-item>


  </ion-radio-group>
</ion-list>