<ion-tabs mode="md">
  <ion-fab horizontal="center" vertical="bottom" (click)="presentActionSheet()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon src="/assets/goal.svg"></ion-icon>
      <ion-label>Goals</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon src="/assets/graphic.svg"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>
    <ion-tab-button disabled="true">
      <!--   <ion-icon src="/assets/list.svg"></ion-icon>
      <ion-label>Tasks</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon src="/assets/list.svg"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>