<div class="timer-controls" *ngIf="pomodoro && pomodoro.task">
  <ion-list>
    <ion-item lines="none">
      <ion-label>Task</ion-label>
      <ion-text slot="end">{{pomodoro.task.name}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Set Time</ion-label>
      <ion-select>
        <ion-select-option>5 minutes</ion-select-option>
        <ion-select-option>10 minutes</ion-select-option>
        <ion-select-option>15 minutes</ion-select-option>
        <ion-select-option>20 minutes</ion-select-option>
        <ion-select-option>25 minutes</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>
<div class="timer" [ngClass]="{'started': started}">

  <div class="clock" *ngIf="$$elapsed">
    <span class="minutes">{{$$elapsed.minutes}}</span> : <span class="seconds">{{$$elapsed.seconds}}</span>
  </div>
  <div class="actions">
    <ion-button color="primary" (click)="toggle()" *ngIf="pomodoro && !pomodoro.started">
      Start
      <ion-icon slot="end" name="play"></ion-icon>
    </ion-button>
    <div *ngIf="pomodoro && pomodoro.started">
      <ion-button color="primary" (click)="toggle()">
        Pause
        <ion-icon slot="end" name="pause"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="toggle()">
        Stop
        <ion-icon slot="end" name="stop"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>