@import "../../../../theme/variables.scss";
.timer {
  @include add-transitions();
  background: white;
  &.started {
    background: #000 !important;
    color: white !important;
    .clock {
      border: 4px solid white;
    }
  }
  min-height: 100%;
  width: 100%;
  color: $font-dark;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  .preset-control {
  }
  .clock {
    border: 4px solid $color-primary-shade-2;

    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    .minutes {
      font-size: $font-size-large * 2;
    }
    .seconds {
      font-size: $font-size-normal * 2;
    }
  }
  .actions {
    margin-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
}
