<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Habit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Habit
        </ion-label>
        <ion-icon slot="end" class="ion-padding-end" name="repeat-outline"></ion-icon>
      </ion-item-divider>
      <ion-item [ngClass]="{'item-has-error': !$valid.name}">
        <ion-label position="floating">Name this Habit</ion-label>
        <ion-input (ionFocus)="$valid.name=true" aria-required="true" [(ngModel)]="habit.name" required
          spellcheck="true" aria-placeholder="Name of new habit" placeholder="Name of new habit"></ion-input>
        <ion-icon slot="end" name="alert-circle-outline" *ngIf="!$valid.name" color="danger"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description (Optional)</ion-label>
        <ion-textarea [(ngModel)]="habit.description" placeholder="Enter habit description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Minimum Repetitions</ion-label>
        <ion-input [(ngModel)]="habit.repetitions" inputmode="numeric" value="66" type="number"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Settings
        </ion-label>
        <ion-icon slot="end" class="ion-padding-end" name="settings-outline"></ion-icon>
      </ion-item-divider>
      <ion-item>
        <ion-label>Success Date</ion-label>
        <ion-datetime displayFormat="DDD MMM D, YYYY" [(ngModel)]="habit.successDate" placeholder="Select Date">
        </ion-datetime>
      </ion-item>

      <ion-item-group *ngIf="customPeriod">
        <ion-item-divider>
          <ion-label>
            Custom Period Settings
          </ion-label>
          <ion-icon slot="end" class="ion-padding-end" name="today-outline"></ion-icon>
        </ion-item-divider>
        <ion-item *ngIf="periodType===1">

          <ion-label>Days of Week</ion-label>
          <ion-select multiple="true" value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let day of daysOfWeek">{{day}}</ion-select-option>

          </ion-select>
        </ion-item>
        <ion-item *ngIf="periodType===2">

          <ion-label>Days per Period</ion-label>
          <ion-input type="number" inputmode="numeric"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item>
        <ion-label>Reminders</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <div class="next-button">
    <ion-button (click)="stacking()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

      <ion-text slot="start">Next</ion-text>
    </ion-button>
  </div>
</ion-content>