@import "../../../theme/variables.scss";

.history-strip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .history-item {
    display: flex;
    flex-direction: column;
    margin: 8px 4px;
  }
}
