<ion-content>
    <div class="header mini">
        <div class="header-title-normal">
            71 Tasks
        </div>
        <div class="details-row">

            <div>
                <b>7</b> Milestone Achieved
            </div>
            <div>
                <b>44</b> Tasks Completed
            </div>
        </div>

    </div>
    <h4 class="subheading">Active Tasks</h4>
    <div class="tasks">
        <div class="task" *ngFor="let i of [0,2,4,5,6,7,8]">
            <app-task-item></app-task-item>
        </div>
    </div>
    <h4 class="subheading">Completed Tasks</h4>
    <div class="tasks">
        <div class="task" *ngFor="let i of [0,2,4,5,6,7,8]">
            <app-task-item></app-task-item>
        </div>
    </div>

</ion-content>