<ion-content>
  <div class="choice-form-wrapper">
    <div class="choice-items">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="choice-item">
              <div class="choice-icon"></div>
              <div class="choice-title"></div>
              <div class="choice-subtitle"></div>
            </div>
          </ion-col>
          <ion-col>
            <div class="choice-item">
              <div class="choice-icon"></div>
              <div class="choice-title"></div>
              <div class="choice-subtitle"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>