<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button color="primary" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> Smart Goals</ion-title>

  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hello,</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Goals</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="person-outline" item-left></ion-icon>
        <ion-label>Account</ion-label>
      </ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
  <h4 class="subheading">Overview</h4>

  <ion-grid>
    <ion-row>
      <ion-slides class="do-overflow" [options]="overviewSlideOpts">
        <ion-slide>
          <ion-col>
            <ion-card mode="ios" button="true" class="ion-no-margin">
              <ion-card-header>
                <ion-card-title>7</ion-card-title>
                <ion-card-subtitle>Active Goals</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-slide>
        <ion-slide>
          <ion-col>
            <ion-card button="true" mode="ios" class="ion-no-margin">
              <ion-card-header>
                <ion-card-title>7</ion-card-title>
                <ion-card-subtitle>Active Habits</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-slide>
        <ion-slide>
          <ion-col>
            <ion-card button="true" mode="ios" class="ion-no-margin">
              <ion-card-header>
                <ion-card-title>7</ion-card-title>
                <ion-card-subtitle>Active Tasks</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>



  <!--   <div>
    <div class="rewards-row">
      <img class="rewards-coin" src="../../assets/won.png" alt="">
      <div class="reward-score">
        <div class="score-item">
          <div class="item-label">Today</div>
          <div class="item-score">
            <span class="score">333</span>
            <span class="score-relative">96 %</span>
          </div>
        </div>
      </div>
      <div class="reward-score">
        <div class="score-item">
          <div class="item-label">Yesterday</div>
          <div class="item-score">
            <span class="score">333</span>
            <span class="score-relative">96 %</span>
          </div>
        </div>
      </div>
    </div>
   
  </div> -->
  <h4 class="subheading">Habits</h4>
  <div class="sliding-wrapper ">

    <ion-slides [options]="slideOpts" class="do-overflow">
      <ion-slide *ngFor="let habitItem of habits">
        <app-habit-card [habit]="habitItem"></app-habit-card>
      </ion-slide>


    </ion-slides>
  </div>
  <div>
    <h4 class="subheading">Goals</h4>
  </div>
  <div [hidden]="!ready" *ngFor="let goal of goals" style="margin-top: 0.8rem;" (click)="viewGoal(goal)">
    <app-rich-card [goal]="goal">

    </app-rich-card>
  </div>
  <div *ngIf="!ready">
    <ion-list>
      <ion-item *ngFor="let item of [0,1,2,3,4,5]">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>