<ion-content>
  <div class="header mini">
    <div class="header-title-normal">
      Settings
    </div>
    <div class="details-row">

      <div>
        Update your settings to your personal requirements
      </div>

    </div>
  </div>
  <h4 class="subheading">General Settings</h4>
  <div class="settings">
    <ion-list>
      <ion-item>
        <ion-label>Animation</ion-label>
        <ion-toggle [(ngModel)]="animation" (ionChange)="animationUpdated()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Goal</ion-label>
        <!--   <ionic-selectable [(ngModel)]="port" [items]="ports" itemValueField="id" itemTextField="name" [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable> -->
      </ion-item>
      <ion-item *ngFor="let i of [0,1,2,3,4,5]">
        <ion-label>Setting</ion-label>
        <ion-button slot="end">
          End
        </ion-button>
      </ion-item>
    </ion-list>

  </div>
  <h4 class="subheading">Account Settings</h4>
  <div class="settings">
    <app-settings-item *ngFor="let i of [0,1,2,3,4,5]"></app-settings-item>
  </div>
  <h4 class="subheading">Profile Settings</h4>
  <div class="settings">
    <app-settings-item *ngFor="let i of [0,1,2,3,4,5]"></app-settings-item>
  </div>
</ion-content>