@import "../../../theme/variables.scss";

.habit-card {
  
  ion-text.success {
    color: $color-success;
  }
  ion-text.primary {
    color: $color-primary-shade-2;
  }
  position: relative;
  min-width: 260px;
  ion-icon.with-border {
    color: $color-primary;
    border-radius: 50%;
    border: 1px solid $color-primary;
    box-shadow: $shadow-smooth;
  }
  .habit-action {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 2.4rem;
  }
  border-radius: 9px 9px 0 0;
  padding: 4px 8px;
  background: white;
  .repeat-label,
  .history-label {
    color: $font-muted;
    font-size: 1.4rem;
  }
  .repeat-label {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    > div {
      display: flex;
      margin-right: 16px;
      ion-text {
        line-height: 1.2;
      }
    }
  }

  .habit-title {
    font-size: $font-size-normal;
    /* margin-top: 36px */
  }
  .habit-history {
    &.seperate {
      position: relative;
      top: 4px;
      margin-bottom: 16px;
    }

    .period {
      font-size: $font-size-small;
      font-weight: 600;
      color: $font-muted;
      text-align: center;
    }
    text-align: center;
    font-size: $font-size-normal;
    color: $font-muted;
    display: block;
  }
}
ion-text {
  span {
    position: relative;
    top: -7px;
  }
}
.card-strip-bottom {
  height: 36px;
  background: white;
  border-top: $border;
  border-radius: 0 0 9px 9px;
  ion-text {
    &.primary {
      .row-icon {
        color: $color-success;
      }
    }
    span {
      letter-spacing: 0.04em;
      font-weight: 500;
      text-transform: uppercase;

      font-size: $font-size-small;
      color: $font-light;
    }
  }
  ion-grid {
    line-height: 1;
    /* color: $color-danger-shade-2; */
    color: $font-muted;
    font-weight: 600;
    /*   ion-text.primary {
      color: $color-primary;
    } */
    justify-content: space-between;
  }
}
