<div class="habit-card" *ngIf="summary">
  <div class="habit-history">
    <span class="period">
      {{summary.period}}

    </span>
  </div>

  <div class="habit-action">
    <ion-icon name="arrow-forward-circle-outline" color="primary" (click)="viewHabit($event)"></ion-icon>

  </div>

  <div class="habit-title">{{habit.name}}</div>
  <app-history-strip *ngIf="results && results.length" [results]="results"></app-history-strip>
  <div class="habit-history seperate">
    <span class="period">
      {{relative}}

    </span>
  </div>
  <ion-row>
    <div class="repeat-label">

      <div *ngIf="summary.percentage < 100">
        <ion-text [ngClass]="{'primary': percentage > 0}">
          <ion-icon name="trending-up" class="row-icon"></ion-icon>
          <span> <b>{{summary.percentage}}%</b></span>
        </ion-text>
      </div>
      <div *ngIf="!summary.isLimited">

        <ion-text
          [ngClass]="{'success': summary.remaining < 1,'primary' : (summary.remaining > 0 && summary.completed > 0)}">
          <ion-icon name="checkmark-circle" class="row-icon"></ion-icon>
          <span>
            <b> {{summary.isLimited ? summary.remaining : summary.completed}}</b>
          </span>
        </ion-text>
      </div>
      <div *ngIf="summary.isLimited && summary.remaining > 0">

        <ion-text>
          <ion-icon name="reload-outline" class="row-icon"></ion-icon>
          <span> {{summary.remaining}}/{{summary.remaining + summary.completed}}</span>
        </ion-text>
      </div>
      <div *ngIf="summary.isLimited && summary.remaining ==0">
        <ion-text>
          <ion-icon name="remove-circle-outline" class="row-icon"></ion-icon>
          Limit Reached
        </ion-text>

      </div>
      <div *ngIf="summary.isLimited && summary.remaining < 0" class="text-danger">
        <ion-text>
          <ion-icon name="alert-circle-outline" class="row-icon"></ion-icon>
          Limit Exceeded
        </ion-text>

      </div>
    </div>
  </ion-row>

</div>
<div class="card-strip-bottom">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start" (click)="avoided()">
          <ion-text>
            <ion-icon name="remove-circle" class="row-icon"></ion-icon>
            <span>Discard</span>
          </ion-text>
        </div>

      </ion-col>
      <ion-col>
        <div class="ion-text-end" (click)="done()">
          <ion-text class="primary">
            <ion-icon name="add-circle" class="row-icon"></ion-icon>
            <span>Add</span>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>