// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #16b4f2;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5ccbf6;
  --ion-color-primary-tint: #4c8dff;
  --ion-font-family: "Saira";
  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #69cd68;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-breakingbad: #005836;
}
//custom variables
$color-breaking-bad: #005836;
$font-dark: #062026;
$font-muted: #737373;
$font-light: #bfbfbf;
$background-color: #f3f4f9;
$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-large: 2.4rem;
$border: 1px solid #e1e1e1;
$blue-bg: #043844;
$color-primary: #16b4f2;
$color-danger-shade-2: #ef9a9a;
$color-danger: #d32f2f;
$color-warning-shade: #ffebb3;
$color-primary-shade-1: #2dbcf3;
$color-primary-shade-2: #5ccbf6;
$color-primary-shade-3: #b9e9fb;

$color-success: #69cd68;
$color-success-shade-1: #d2f0d2;
$color-warning: #ffbd00;
$color-gold: #ffbd00;
$small-screen: 360px;
$shadow-smooth: 1px 5px 9px -4px rgba(0, 0, 0, 0.2);
$transition-bezier: cubic-bezier(0.12, 0.72, 0.29, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.12, 0.72, 0.29, 1) 0s;

@mixin add-transitions($type: all) {
  transition: $type 0.5s $transition-bezier;
}
html,
body {
  font-size: 62.5%;
}
@media screen and(max-width: $small-screen) {
  html,
  body {
    font-size: 48.5%;
  }
}
$transition-default: all 240ms;
@mixin ios-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

@mixin success-gradient {
  background-color: #08aeea !important;
  background-image: linear-gradient(0deg, #96dc95 0%, #54a453 100%) !important;
}
@mixin success-shadow {
  box-shadow: -1px 1px 8px 3px rgba(105, 205, 104, 0.32);
}
@mixin inset-shadow {
  box-shadow: inset 2px 4px 9px -7px rgb(0, 0, 0);
}
