<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Create New Goal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="goal">
  <div class="space-bottom">
    <ion-list>
      <ion-item-divider>
        <ion-label>Goal Details</ion-label>
      </ion-item-divider>
      <ion-item lines="full" [ngClass]="{'item-has-error': !$goal.name}" (click)="$goal.name=true">

        <ion-input placeholder="Goal Name" [(ngModel)]="goal.name"></ion-input>
        <ion-icon *ngIf="!$goal.name" slot="end" name="alert-circle-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Goal Pre Requisite</ion-label>
        <!--    <ionic-selectable [(ngModel)]="goal.pre_req" [items]="ports" itemValueField="id" itemTextField="name"
          [canSearch]="true">
          <ng-template ionicSelectableSearchFailTemplate>
            <div padding>
              <div style="text-align: center;">
                <ion-icon name="information-circle-outline" class=" text-muted" style="font-size: 4rem;"></ion-icon>
              </div>
              <div class="text-muted" style="text-align: center;font-size: 1.6rem;">No Goals Found</div>
            </div>
          </ng-template>
          <ng-template ionicSelectableCloseButtonTemplate>
            <ion-icon name="arrow-back" style="font-size: 2.4rem;"></ion-icon>
          </ng-template>
        </ionic-selectable> -->
      </ion-item>

      <ion-item lines="full">
        <ion-label>Repeat</ion-label>
        <ion-toggle slot="end" [(ngModel)]="goal.repeat_type"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="goal.repeat_type" lines="full">
        <ion-label>Repeat Every</ion-label>
        <ion-select slot="end" placeholder="Select One" [(ngModel)]="goal.repeat_type">

          <ion-select-option [value]="'f'">Day</ion-select-option>
          <ion-select-option [value]="'d'">Tuesday</ion-select-option>
          <ion-select-option [value]="'dt'">4th of each month</ion-select-option>
          <ion-select-option [value]="'w'">Every weekday</ion-select-option>
          <ion-select-option [value]="'c'">Custom</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item-divider>
        <ion-label>Status</ion-label>
      </ion-item-divider>
      <ion-item lines="full">

        <ion-segment color="secondary">
          <ion-segment-button value="standard" (click)="goal.status = 0">
            <ion-label>Pending</ion-label>
          </ion-segment-button>
          <ion-segment-button value="hybrid" (click)="goal.status = 1">
            <ion-label>Doing</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sat" (click)="goal.status = 2">
            <ion-label>Completed</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item-divider>
        <ion-label>Priority</ion-label>
      </ion-item-divider>
      <ion-item lines="full">

        <ion-segment color="secondary">
          <ion-segment-button value="standard" (click)="goal.priority = 0">
            <ion-label>Low</ion-label>
          </ion-segment-button>
          <ion-segment-button value="hybrid" (click)="goal.priority = 1">
            <ion-label>Normal</ion-label>
          </ion-segment-button>
          <ion-segment-button value="sat" (click)="goal.priority = 2">
            <ion-label>High</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Start</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Start Date</ion-label>
          <ion-datetime [(ngModel)]="goal.start_date" displayFormat="DDDD MMM D, YYYY" max="2050"></ion-datetime>
        </ion-item>

        <ion-item lines="full">
          <ion-label>End Date</ion-label>
          <ion-datetime [(ngModel)]="goal.end_date" displayFormat="DDDD MMM D, YYYY" max="2050"></ion-datetime>
        </ion-item>
      </ion-item-group>
    </ion-list>

  </div>
  <button class="block-button" (click)="save()">Save</button>
</ion-content>