@import "../../../theme/variables.scss";

.quick-task-wrapper {
  border-radius: 50%;
  height: 66px;
  width: 66px;
  border: 1px solid $color-primary-shade-1;
  &.pressed {
    border: 1px solid $color-primary;
  }
  &.done {
    border: 1px solid $color-success;
  }
  padding: 2px;
  .task-progress {
    /*   padding-top: 16px; */
    font-size: $font-size-small;
    font-weight: 300;
    color: $color-primary;
  }
  .task-icon {
    color: $color-primary;
    font-size: 2.6rem;
    line-height: 0;
    /*  margin-top: ; */
    padding: 4px 0;
  }
  .quick-task {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: $color-primary-shade-3;
    &.active {
      background: $color-primary;
    }
    &.completed {
      background: $color-success;
    }
  }
}
.task-title {
  font-size: $font-size-normal;
  text-align: center;
  margin-top: 2px;
  font-weight: 500;
  color: $font-dark;
}
