<div class="quick-task-wrapper" [ngClass]="{'pressed': isActive,'done' : isCompleted}">
<!--   <div class="quick-task" [ngClass]="{'completed': isCompleted,'active' : isActive}" 
    (pressed)="pressed()" (click)="tapped()" [interval]="1000" (pressEnded)="released()" (longPressed)="active()">
    <div class="task-icon">
      <ion-icon name="time" *ngIf="!isCompleted"></ion-icon>
      <ion-icon name="checkmark" *ngIf="isCompleted"></ion-icon>
    </div>
    <div class="task-progress">0/3</div>
  </div> -->
</div>
<div class="task-title">
  Some Task
</div>