@import '../../../theme/variables.scss';
$green: #75b800;
$gray-light: #eef1f3;
$default: #16b4f2;
$default-shade: #73d2f7;
// Bar Variables ========================================
$bar-size: 5px;
$bar-size-mini: 3px;
$bar-radius: 60px;
$bar-bg: rgba(0, 0, 0, 0.075);
$bar-bg-mini: rgba(0, 0, 0, 0.025);

body {
  background: $gray-light;
}

// Animation =============================================
// Edit these at random intervals to change the animation.

// Bar ============================================
.progress-bar {
  border-radius: $bar-radius;
  overflow: hidden;
  width: 100%;

  span {
    display: block;
  }
}

.bar {
  background: $bar-bg;
}

.progress {
  /* animation: loader 8s ease infinite; */
  // Change the animation fill mode 'infinite' to 'forwards' to stop the animation from repeating.
  background: $default;
  color: #fff;
  padding: $bar-size;
  /*  width: 33%; */
}

// Vertical Centering ==============================
// You don't need this to make it work on your site.
.progress-bar {
  &.completed {
    .progress {
      background: $color-success !important;
    }
  }
  &.mini-progress {
    .bar {
      background: $bar-bg-mini !important;
    }
    .progress {
      background: $default-shade;

      padding: $bar-size-mini !important;
    }
  }
}
