<div class="progress-bar" [ngClass]="{'mini-progress': mini,'completed' : value >= 100}">
  <span class="bar">
    <span class="progress" *ngIf="value > 0" [ngStyle]="{'width.%': value}"></span>
  </span>
</div>