@import "../theme/variables.scss";
.header {
  padding: 16px;
  /*  height: 108px; */
  small {
    font-weight: 400;
  }
  &.mini {
    height: 72px;
  }
  background: white !important;
  .details-row {
    display: flex;
    ion-icon {
      position: relative;
      top: 1px;
      color: $font-dark;
    }
    justify-content: space-between;
    font-size: $font-size-small;
    b {
      color: $font-dark !important;
    }
    color: $font-muted;
  }
  .title-mini {
    ion-icon {
      position: relative;
      top: 2px;
    }
  }
  .header-title {
    color: $font-dark;
    letter-spacing: -0.04rem;
    font-size: $font-size-large;
    font-weight: 700;
    text-align: center;
  }
  .header-title-normal {
    color: $font-dark;
    font-size: $font-size-normal;
    font-weight: 700;
  }
}

.progress-row {
  margin-top: 8px;
}
