<div class="calendar">
  <div class="month-header">
    {{month}}
  </div>
  <div class="calendar-items">
    <div class="week-header">
      <span>M</span>
      <span>T</span>
      <span>W</span>
      <span>T</span>
      <span>F</span>
      <span>S</span>
      <span><b>S</b></span>
    </div>
    <div class="days">
      <div *ngFor="let item of days" (click)="activate(item)" [ngClass]="{'active': item==activated}">
        <span class="day" [ngClass]="{'text-muted': !item.isRelevant}">{{item.date.getDate()}}</span>
        <span class="completed" *ngIf="item.isCompleted">•</span>
      </div>
    </div>
  </div>
</div>