@import "../calendar-view.page.scss";

.days {
  > div {
    position: relative;
    transition: $transition-default;
    background: white;
    &.active {
      &::before {
        content: " ";
        z-index: 98;
        background: $color-primary;
        position: absolute;
        border-radius: 50%;
        width: 3.2rem;
        top: 25%;
        @media screen and (max-width: $small-screen) {
          /*    top: calc(25% + 0.4rem); */
        }
        height: 3.2rem;
      }
      span.day {
        z-index: 99;
        color: white;
        font-size: $font-size-normal;
        &.text-muted {
          color: $font-light !important;
          font-weight: 300 !important;
        }
        font-weight: 700;
        transition: $transition-default;
      }
      span.completed {
        /* display: none; */        
        z-index: 99;
       
      }
    }
    span.completed {
      font-size: $font-size-small;
      position: absolute;
      bottom: 8px;
      font-weight: 500;
      right: 8px;
      color: $color-success;
    }
  }
}
