@import "../../../theme/variables.scss";

.task-item {
  .small-icon {
    vertical-align: middle;
    font-size: 1.6rem;
  }
  ion-text {
    i {
      position: relative;
      top: 1px;
      left: 2px;
    }
  }
  .task-highlights {
    font-size: 1.4rem;
    span {
      margin-right: 1.4rem;
    }
  }
  &.is-completed {
    .task-content {
      .task-title {
        text-decoration: line-through;
      }
    }
  }
  &.is-animating {
    .action-done {
      display: none;
    }
    background: $color-success !important;
    color: white;
    /*  box-shadow: $shadow-smooth; */
    .text-muted {
      display: none;
    }
    .action-button {
      border: 2px solid white !important;
    }
  }
  .action-done {
    font-size: 2.4rem;
    vertical-align: middle;
    line-height: 0;
    position: relative;
    color: $font-muted;
  }
  transition: all 120ms ease-in-out;
  background: white !important;
  /*  border: $border; */
  height: 56px;

  .task-wrapper {
    float: left;
    height: 100%;
    width: 100%;
    .task-content {
      display: inline-block;
      padding: 10px 12px;
      font-size: 1.6rem;
      font-weight: 500;
    }
    .task-action {
      float: left;

      width: 48px;
      padding: 12px;
      height: 100%;
      .action-button {
        border: 2px solid #707070;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin-top: auto;
        display: block;
        margin-bottom: auto;
        display: block;
      }
    }
  }
}
