<div class="task-item" *ngIf="task" [ngClass]="{'is-completed': task.status==2,'is-animating' : isAnimating}">
  <div class="task-wrapper">
    <div class="task-action" (click)="task.status==2? undone() : done()">
      <div class="action-button" *ngIf="task.status!=2"></div>
      <div class="action-done" *ngIf="task.status==2">
        <ion-icon name="checkmark-circle"></ion-icon>
      </div>
    </div>
    <div class="task-content" (click)="taskActions(task)">
      <span class="task-title">{{task.name}}</span>
      <div class="text-muted task-highlights" *ngIf="!task.status || +task.status < 2">
        <span *ngIf="!isOverdue && task.due_date">
          <ion-text>
            <ion-icon name="calendar-outline" class="small-icon"></ion-icon> due in <b>{{task.due_date | fromNow}}</b>
          </ion-text>
        </span>
        <span *ngIf="!task.due_date">
          <ion-text>
            <ion-icon name="calendar-outline" class="small-icon"></ion-icon> <i>No due date</i>
          </ion-text>
        </span>

        <span *ngIf="isOverdue">
          <ion-text color="danger">
            <ion-icon name="calendar-outline" class="small-icon"></ion-icon> overdue
          </ion-text>
        </span>
        <span *ngIf="task.repeat_type">| {{task.repeat_every | repeatDisplay}}</span>
        <span *ngIf="task.priority >=0">
          <ion-icon name="timer-outline" class="small-icon"></ion-icon> {{task.priority | priorityDisplay}} priority
        </span>
      </div>

    </div>
  </div>
</div>