@import "../../../theme/variables.scss";
.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  &.has-streak {
    /* @include success-gradient(); */
    @include inset-shadow();
    z-index: 99;
    border: 2px solid #87d786 !important;
    &.streak-start,
    &.streak-center {
      &::before {
        z-index: 2;
        content: " ";
        position: absolute;
        height: 4px;
        @include success-shadow();
        width: 12px;
        background: $color-success;
        top: 38%;
        left: 16px;
      }
    }
  }
  &.pending {
    border: 1px solid $color-primary;
  }
  &.completed {
    border: 1px solid $color-success;
    background: $color-success;
  }
  &.error {
    border: 1px solid $color-danger-shade-2;
    background: $color-danger-shade-2;
  }
  &.off {
    border: 1px solid $background-color;
    background: $background-color;
  }
  &.blinking {
    border: 1px solid $color-success-shade-1;
    background: $color-success-shade-1;
  }
  &.incomplete {
    border: 1px solid $color-gold;
    background: $color-gold;
  }
}
