<ion-content>

  <div class="header">
    <div class="header-title">
      3 Goals Active
    </div>
    <div class="details-row">

      <div>
        <b>2</b> Milestone Achieved
      </div>
      <div>
        <b>2</b> Tasks Completed
      </div>
    </div>
    <div class="progress-row">
      <app-progress></app-progress>
    </div>

  </div>
  <div>
    <div class="rewards-row">
      <img class="rewards-coin" src="../../assets/won.png" alt="">
      <div class="reward-score">
        <div class="score-item">
          <div class="item-label">Today</div>
          <div class="item-score">
            <span class="score">333</span>
            <span class="score-relative">96 %</span>
          </div>
        </div>
      </div>
      <div class="reward-score">
        <div class="score-item">
          <div class="item-label">Yesterday</div>
          <div class="item-score">
            <span class="score">333</span>
            <span class="score-relative">96 %</span>
          </div>
        </div>
      </div>
    </div>
    <h4 class="subheading">Habits</h4>
  </div>
  <div class="sliding-wrapper">

    <ion-slides [options]="slideOpts">
      <ion-slide>
        <app-habit-card></app-habit-card>
      </ion-slide>
      <ion-slide>
        <app-habit-card></app-habit-card>
      </ion-slide>
      <ion-slide>
        <app-habit-card></app-habit-card>
      </ion-slide>
      <ion-slide>
        <app-habit-card></app-habit-card>
      </ion-slide>

    </ion-slides>
  </div>
  <div>
    <h4 class="subheading">Goals</h4>
  </div>
  <div [hidden]="!ready" *ngFor="let goal of goals" style="margin-top: 0.8rem;" (click)="viewGoal(goal)">
    <app-rich-card [goal]="goal">

    </app-rich-card>
  </div>
  <div *ngIf="!ready">
    <ion-list>
      <ion-item *ngFor="let item of [0,1,2,3,4,5]">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>