@import "../../../theme/variables.scss";
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.goal-header {
  --min-height: 124px !important;
}
.rewards-row {
  position: relative;
  background: white;
  height: 56px;
  top: 0;
  padding: 8px;
  color: white !important;
  /*  text-align: right; */
}
.reward-score {
  /*  margin-top: 4px; */
  display: inline-block;
  .score-item {
    .item-label {
      color: $font-light;
      font-weight: 700;
      font-size: 1rem;
      float: left;
      display: block;
      letter-spacing: -0.1px;
      width: 100%;
      text-transform: uppercase;
    }
    .item-score {
      display: block;
      .score {
        display: inline-block;
        font-weight: 700;
        color: $font-dark;
        font-size: 1.4rem !important;
      }
      .score-relative {
        display: inline-block;
        margin-left: 8px;
        font-size: 1.4rem !important;
        font-weight: 500;
        color: $font-light;
      }
    }
  }
  letter-spacing: 0.05rem;
  position: relative;
  /* line-height: 1.2; */
  color: $font-light;
  margin-left: 24px;
}
.rewards-coin {
  max-height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.sliding-wrapper {
  /* background: white; */
  /* margin-top: 12px; */
/*   padding: 12px 0; */
}
