<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Edit Task</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

  <div *ngIf="!ready">
    <ion-list>
      <ion-item *ngFor="let item of [0,1,2,3,4,5]">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="ready">

    <ion-list>
      <ion-item-divider>
        <ion-label>Task Details</ion-label>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-label position="floating">Task Name</ion-label>
        <ion-input placeholder="Task Name" [(ngModel)]="task.name"></ion-input>
      </ion-item>
      <ion-item lines="full" details="true" button="true">
        <ion-label>Goal</ion-label>
        <ion-label slot="end" class="ion-text-end">
         <ion-text *ngIf="goal">
          {{goal.name}}
         </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Repeat</ion-label>
        <ion-toggle slot="end" [(ngModel)]="task.repeat_type"></ion-toggle>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Status</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="task.status">
          <ion-select-option value="0">Pending</ion-select-option>
          <ion-select-option value="1">In Progress</ion-select-option>
          <ion-select-option value="2">Completed</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Due Date</ion-label>
        </ion-item-divider>

        <ion-item lines="full">
          <ion-label>Date</ion-label>
          <ion-datetime [(ngModel)]="task.due_date" displayFormat="DDDD MMM D, YYYY" min="2020" max="2060">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime [(ngModel)]="task.due_date" displayFormat="h:mm a"></ion-datetime>
        </ion-item>

      </ion-item-group>
      <ion-item-divider>
        <ion-label>Task Value</ion-label>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-label>Estimated Time</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="task.estimated_time">
          <ion-select-option value="0.25">15 Minutes</ion-select-option>
          <ion-select-option value="0.5">30 Minutes</ion-select-option>
          <ion-select-option value="1">1 Hour</ion-select-option>
          <ion-select-option value="1.5">1.5 Hours</ion-select-option>
          <ion-select-option value="2">2 Hours</ion-select-option>
          <ion-select-option value="4">4 Hours</ion-select-option>
          <ion-select-option value="6">6 Hours</ion-select-option>
          <ion-select-option value="8">8 Hours</ion-select-option>
          <ion-select-option value="c">Custom</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

  </div>
  <button *ngIf="ready" class="block-button" (click)="save()">Save</button>
</ion-content>