<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="task">{{task.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>
        Task
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        {{task.name}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Goal
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        {{goal.name}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Due Date
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        {{task.due_date | readableDate:true}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Time Remaining
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        {{task.due_date | fromNow}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Priority
      </ion-label>
      <ion-chip color="danger" outline="true" mode="ios" slot="end" class="ion-text-end">
        <ion-label color="dark">High</ion-label>
      </ion-chip>

    </ion-item>
    <ion-item>
      <ion-label>
        Estimated Time
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        <span *ngIf="task.estimated_time && +task.estimated_time >= 1"> {{task.estimated_time}} Hours</span>
        <span *ngIf="task.estimated_time && +task.estimated_time < 1"> {{+task.estimated_time * 60}} minutes</span>
        <span *ngIf="!task.estimated_time"><i>Not specified</i></span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Status
      </ion-label>
      <ion-chip *ngIf="task.status ==0" color="tertiary" outline="true" mode="ios" slot="end" class="ion-text-end">
        <ion-label color="dark">Pending</ion-label>
      </ion-chip>
      <ion-chip *ngIf="task.status ==1" color="primary" outline="true" mode="ios" slot="end" class="ion-text-end">
        <ion-label color="dark">Doing</ion-label>
      </ion-chip>
      <ion-chip *ngIf="task.status ==2" color="success" outline="false" mode="ios" slot="end" class="ion-text-end">
        <ion-label color="dark">Completed</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>
        Repeat
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        {{task.repeat_type? 'Yes' : 'No'}}
      </ion-label>
    </ion-item>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Start Working</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option expandable (click)="work()">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>