<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title *ngIf="ready">{{habitItem.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="subheading">Details</h4>
  <ion-list *ngIf="habitItem">


    <ion-item lines="none">
      <ion-label>Habit</ion-label>
      <ion-text slot="end">
        {{habitItem.name}}
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Started On</ion-label>
      <ion-text slot="end">
        {{habitItem.startDate | readableDate}}
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total entries</ion-label>
      <ion-text slot="end" *ngIf="habitItem.history && habitItem.history.length > 0">
        {{habitItem.history.length}}
      </ion-text>
      <ion-text slot="end" *ngIf="!habitItem.history || habitItem.history.length <=0">
        0
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Condition</ion-label>
      <ion-text slot="end">
        {{condition}}
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Last Completed</ion-label>
      <ion-text slot="end" *ngIf="habitItem.history && habitItem.history.length > 0">
        {{habitItem.history[habitItem.history.length - 1].date | fromNow}} ago
      </ion-text>
    </ion-item>


  </ion-list>
  <h4 class="subheading">Calendar View</h4>
  <app-breakdown [hash]="habitItem.hash" *ngIf="habitItem"></app-breakdown>

  <ion-item color="primary" button="true" detail="true" (click)="edit()">
    <ion-label>
      Edit
    </ion-label>

  </ion-item>
</ion-content>