<ion-list>
  <ion-item (click)="pauseGoal()">
    <ion-label>Pause</ion-label>
  </ion-item>
  <ion-item (click)="edit()">
    <ion-label>Edit </ion-label>
  </ion-item>
  <ion-item (click)="presentAlert()">
    <ion-label>Delete</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Delay</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Move</ion-label>
  </ion-item>
</ion-list>