<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Stack Habit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="help-text">
    <div class="help-image">
      <img src="../../../../assets/link.png" alt="">
    </div>
    <h4 class="ion-text-center">Habit Stacking</h4>
    <p>When it comes to building new habits, you can use the connectedness of behavior to your advantage. One of the
      best
      ways to build a new habit is to identify a current habit you already do each day and then stack your new behavior
      on
      top. This is called habit stacking.</p>
    <ul>
      <li>After I pour my cup of coffee each morning, I will meditate for one minute.
      </li>
      <li>After I take off my work shoes, I will immediately change into my workout clothes.</li>
      <li>After I sit down to dinner, I will say one thing I’m grateful for that happened today.</li>
      <li>After I put on my running shoes, I will text a friend or family member where I am running and how long it will
        take.</li>
    </ul>
  </div>
</ion-content>