/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "src/theme/variables.scss";
.text-muted {
 
  color: $font-muted;
}
.text-danger {
  color: $color-danger;
}
.text-small {
  font-size: 1.2rem;
}
h4.placeholder {
  color: $font-light;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;

  ion-icon {
    font-size: 2.4rem;
    position: relative;
    top: -2px;
    vertical-align: middle;
    line-height: 0;
  }
}
.task {
  ion-list {
    padding: 0;
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
    }
  }
}
app-task-item {
  width: 100%;
}
ion-select.block-select {
  max-width: 100% !important;
}
ion-title {
  padding: 0;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  vertical-align: middle;
  padding-bottom: 2px;
  color: black;
}
.heading-actions {
  .action-item {
    vertical-align: middle;
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
  }
}
h4.subheading {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 8px;
  color: $font-muted;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
div,
p,
a {
  font-size: 1.6rem;
}
.searchbar-input {
  box-shadow: none !important;
  border: $border;
}
.page-content {
  /* height: 100%; */
  background: white;
  padding: 18px;
  &.space-bottom {
    margin-bottom: 56px !important;
  }
}
.input-field {
  .control-label {
    font-size: $font-size-small;
    font-weight: 700;
    color: $font-muted;
    display: block;
  }
  .form-control {
    display: block;
    background: $background-color;
    border: none;
    height: 28px;
    border-radius: 2px;
    padding: 4px;
    font-size: $font-size-small;
    width: 100%;
  }
}
ion-content {
  --background: #f3f4f9;
}
.center {
  text-align: center;
}
.scroll-content {
  padding-bottom: 0 !important;
}
app-habit-card {
  @include ios-shadow();
  border-radius: 9px;
}
.block-button {
  display: block;
  width: 100%;
  height: 48px;
  font-weight: 500;
  background: $color-success;
  font-size: $font-size-normal;
  text-transform: uppercase;
  color: white;
  border: none;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}

.item-inner {
  border: none !important;
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  /*   &[class*="custom-goal"] {
    mask-image: url(assets/goal.svg);
  } */
}
ion-item-divider {
  text-transform: uppercase;
  background: #f6f6f6;
  border: none;
}
.popover-list {
  ion-icon {
    margin-right: 8px;
  }
}
.with-shadow {
  ion-slide {
    height: 120px;
  }
}

.row-icon {
  margin-right: 4px;
  font-size: 2.8rem;
  vertical-align: middle;
  position: relative;
  top: -7px;
}
.do-overflow {
  overflow: unset !important;
}
.page-controls {
  background: $color-primary;
  text-align: right;
}
ion-item.item-has-error {
  --border-color: #d32f2f;
}
.full-width-card {
  background: white;
  width: 100%;
  padding: 1.6rem;
}
