<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Edit Habit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="habitItem">
  <ion-list>
    <ion-item-divider>
      <ion-label>Basic Info</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" mode="ios" [(ngModel)]="habitItem.name"></ion-input>
    </ion-item>
    <ion-item button="true" detail="true" color="success">
      <ion-label>Save Changes</ion-label>
    </ion-item>
  </ion-list>
</ion-content>