@import "../../../../theme/variables.scss";

.calendar {
  transition: all 300ms ease-in;
  min-width: 340px;
  display: block;
  .month-header {
    /*  box-shadow: $shadow-smooth; */
    display: block;

    /*  background: $color-primary; */
    color: $font-dark;
    letter-spacing: -0.04em;
    /*    box-shadow: $shadow-smooth; */

    padding: 1.6rem;
    font-size: $font-size-normal;
    font-weight: 600;
    text-transform: uppercase;
  }
  .calendar-items {
    display: flex;
    flex-direction: column;
    .week-header {
      color: $font-light;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      z-index: 99;
      /*  border-bottom: $border; */
      background: $background-color;
      span {
        display: flex;
        flex-direction: column;
        width: calc(100% / 7);
        font-size: $font-size-small;
        padding: 0.8rem;
        font-weight: 500;
        /*  border-right: $border; */
        text-transform: uppercase;
      }
    }
    .days {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      > div {
        /*   border-right: $border;
        border-bottom: $border; */
        justify-content: center;
        height: 6.4rem;
        align-items: center;
        span.day {
        
          letter-spacing: 0.08em;
        }
        padding: 0.8rem;
        width: calc(100% / 7);
        display: flex;
      }
    }
  }
}
