@import "../../../../theme/variables.scss";
.category-help {
  color: $font-muted;
  size: $font-size-normal;
  font-weight: 500;
  padding: 1.6rem 1.6rem 0 1.6rem;
  letter-spacing: -0.04em;
}
.habit-explaination {
  border-radius: 5px;
  h4 {
    text-align: center;
    letter-spacing: -0.04em;
  }
  padding: 0.8rem;
  .habit-image {
    text-align: center;
    img {
      max-height: 64px;
    }
  }
}
div.habit-categories {
  div.next-button {
    text-align: right;
  }

 /*  padding: 1.6rem; */
  .habit-category {
    ion-item {
      font-size: $font-size-normal;
      --border-width: 0px;
      --border-color: transparent;
      --padding-start: 0;
      --inner-padding-end: 0;
      &.item-radio-checked {
        --background: #f3f4f9;
      }
    }
    border: $border;
    border-radius: 5px;
    margin: 1.6rem 0;
    width: 100%;
    /*  padding: 1.6rem; */
  }
  ion-item {
    ion-text {
      display: inline;
    }
  }
}
