<ion-header *ngIf="!container.isUpdating">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Habit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="container.isUpdating">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="habitPage()">

        <span class="button-text">
          Cancel
        </span>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Habit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div class="category-help">

    <ion-text>
      <h4><b>{{selectedPeriod.interval}} {{selectedPeriod.period + (selectedPeriod.interval > 1 ? 's' : '')}}</b>*
        {{selectedPeriod.interval > 1 ? 'are' : 'is'}}
        successful</h4>
    </ion-text>
  </div>
  <div class="habit-categories">
    <ion-radio-group [(ngModel)]="habit.polarity" name="category">
      <ion-list mode="ios">
        <ion-item>
          <ion-label>When this habit is</ion-label>
          <ion-select [(ngModel)]="condition.isCompleted" class="block-select" value="brown" okText="Okay"
            cancelText="Dismiss">
            <ion-select-option [value]="true">completed</ion-select-option>
            <ion-select-option [value]="false">avoided</ion-select-option>
          </ion-select>

        </ion-item>
        <ion-item [ngClass]="{'item-has-error': !$valid.polarity}" (click)="$valid.polarity=true">
          <ion-label>For</ion-label>
          <ion-select [(ngModel)]="polarity" class="block-select" value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option [value]="2">Atleast</ion-select-option>
            <ion-select-option [value]="1">Exactly</ion-select-option>
            <ion-select-option [value]="3">Not More Than</ion-select-option>
          </ion-select>
          <ion-icon name="alert-circle-outline" color="danger" *ngIf="!$valid.polarity"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>No of times</ion-label>
          <ion-input [(ngModel)]="condition.value" class="ion-text-right" type="number" inputmode="numeric"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Starting From</ion-label>
          <ion-datetime displayFormat="DDD MMM D, YYYY" [(ngModel)]="habit.startDate" placeholder="Select Date">
          </ion-datetime>
        </ion-item>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Advanced Settings</ion-label>
            <ion-toggle [(ngModel)]="customPeriod" slot="end"></ion-toggle>
          </ion-item-divider>
          <ion-item *ngIf="customPeriod">
            <ion-label>End On</ion-label>
            <ion-datetime [(ngModel)]="habit.successDate" displayFormat="DDD MMM D, YYYY" placeholder="Select Date">
            </ion-datetime>
          </ion-item>
          <ion-item *ngIf="customPeriod">
            <ion-label>Period Type</ion-label>
            <ion-select [(ngModel)]="selectedPeriod.period" (ionChange)="periodChanged()">
              <ion-select-option *ngFor="let period of periods" [value]="period">
                {{period}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="customPeriod">
            <ion-label>Period Value</ion-label>
            <ion-input [(ngModel)]="selectedPeriod.interval" class="ion-text-right" type="number" inputmode="numeric">
            </ion-input>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-radio-group>
    <div class="next-button">
      <ion-button (click)="next()">
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

        <ion-text slot="start">Next</ion-text>
      </ion-button>
    </div>

  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>* Period can be customized</ion-title>
  </ion-toolbar>
</ion-footer>