<ion-list class="popover-list">
  <ion-list-header>
    What would you like to do?
  </ion-list-header>
  <ion-item (click)="done()">
    <ion-icon name="checkmark-outline"></ion-icon>
    <ion-label>Done</ion-label>
  </ion-item>
  <ion-item (click)="start()">
    <ion-icon name="time-outline"></ion-icon>
    <ion-label>Start</ion-label>
  </ion-item>
  <ion-item (click)="view()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>View</ion-label>
  </ion-item>
</ion-list>